/*
 * Обнуляющий файл
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /*height: 100%;*/
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.page {
  width: 1200px;
  margin: 0 auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  box-shadow: 0 0 50px gray;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background-color: pink;
}
.header__photo {
  float: left;
  margin: 30px;
  border-radius: 50%;
}
.header__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 5px;
  color: gray;
}
.header__text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: gray;
}
.about {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about__title {
  margin-bottom: 10px;
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 4px solid gray;
}
.about__text {
  line-height: 1.5;
}
.education {
  margin-top: 20px;
  margin-bottom: 20px;
}

.education__title {
  margin-bottom: 10px;
}
.second-title {
  font-size: 16px;
  font-weight: bold;
  color: gray;
  text-decoration-line: underline;
  margin-top: 20px;
  margin-bottom: 5px;
}

.date {
  float: right;
}

.experience {
  margin-top: 20px;
  margin-bottom: 20px;
}
.experience__title {
  margin-bottom: 10px;
}

.skills {
  margin-top: 20px;
  margin-bottom: 20px;
}
.skills__title {
  margin-bottom: 10px;
}
.skills__list {
}
.skills__item {
}

.code {
  margin-top: 20px;
  margin-bottom: 20px;
}
.code__title {
  margin-bottom: 10px;
}
.footer {
  background-color: pink;
}
.footer__list {
}
.footer__contacts {
}
.footer__title {
  background-color: gray;
  font-size: 18px;
  color: white;
}
.footer__contacts-list {
}
.footer__contacts-item {
}
.footer__follow {
}
.footer__follow-list {
}
.footer__follow-link {
}
.footer__languages {
}
.footer__languages-list {
}
.footer__languages-item {
}
.footer__hobbies {
}
.footer__hobbies-list {
}
.footer__hobbies-item {
}
