* {
  box-sizing: border-box;
}

html {
  background-color: rgba(57, 62, 66, 0.2);
}

body {
  width: 85%;
  max-width: 1440px;
  min-width: 650px;
  margin: 5px auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0 0 20px 0 rgba(41, 99, 148, 0.8);
  background-color: whitesmoke;
  color: rgb(57, 62, 66);
}

.main-content {
  display: flex;
  column-gap: 30px;
}

/* Left column starts*/
.personality {
  min-width: 315px;
  max-width: 350px;
  background-color: rgba(41, 99, 148, 0.8);
}

/* Header styles */

.header {
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
}

.header__img {
  margin: 0;
  padding-top: 20px;
}

.header__photo {
  border: 10px solid rgba(41, 99, 148, 0.8);
  border-radius: 50%;
}

.header__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header__text {
  margin-top: 0;
}

/* Aside styles */
}

/* Left column ends*/

/* Right column starts*/
/* Right column ends*/
/* Footer */
.footer {
  background-color: rgb(57, 62, 66);
}
.footer__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
}

.footer__link svg {
  width: 40px;
  height: 40px;
  fill: whitesmoke;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 700;
  color: whitesmoke;
}
